{% extends 'index.html' %}

{% block title %}🪙 2coins{% if title %} | {{ title }}{% else %}{% endif %}{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap justify-content-center gap-3">
        <div class="col" style="min-width: 20rem; max-width: 30rem;">
            <div class="card border-dark mb-3">
                <h3 class="card-header {{ object.color }} bg-opacity-75">
                    {{ object.icon|default:'💳' }} {{ object.name }}
                </h3>

                <div class="card-body">
                    <h2 class="card-title">{{ object.currency.symbol }} {{ object.balance|floatformat }} </h2>
                    <h6 class="card-subtitle mb-3 text-muted">{{ object.description|default:'&nbsp;' }}</h6>

                    <div class="d-flex justify-content-between gap-2">
                        <a href="{% url 'transaction_add' %}?account={{ object.pk }}" class="btn btn-primary">Add
                            transaction</a>

                        <div class="btn-group" role="group">
                            <button class="btn" onclick="location.href = '{% url 'account_update' object.pk %}';">
                                <i class="bi bi-gear"></i>
                            </button>
                            <a href="{% url 'account_delete' object.pk %}" class="btn btn-danger">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-success d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">Income:</h4>
                        <h4 class="mb-0">{{ stats.income }} {{ object.currency.symbol }}</h4>
                    </li>
                    <li class="list-group-item text-danger d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">Expenses:</h4>
                        <h4 class="mb-0">{{ stats.expenses }} {{ object.currency.symbol }}</h4>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">Total:</h4>
                        <h4 class="mb-0">{{ stats.total }} {{ object.currency.symbol }}</h4>
                    </li>
                </ul>

                <div class="card-footer text-muted text-center p-1">
                    <small>
                        As of {% now 'F Y' %}
                    </small>
                </div>
            </div>

            <div class="card overflow-hidden">
                <h3 class="card-header">
                    Transactions
                </h3>

                <div class="card-body p-0">
                    <table class="table table-striped mb-0" style="border: transparent; font-size: medium;">
                        <tbody>
                        {% for txn in transactions %}
                            <tr>
                                <td>{{ txn.date }}</td>
                                <td class="text-center">
                                    <h5 class="mb-0">
                                        <span class="badge {{ txn.badge_color }}">{{ txn.category }}</span>
                                    </h5>
                                </td>
                                <td class="text-end {% if txn.amount > 0 %}text-success{% else %}text-danger{% endif %} ">
                                    <h5 class="mb-0">
                                        {{ txn.amount|floatformat }} {{ txn.currency }}
                                    </h5>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'transaction_update' txn.id %}">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="text-muted text-center">No data</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-dark" style="min-width: 30rem;">
                <h3 class="card-header">
                    Stats
                </h3>

                <div class="card-body"></div>
            </div>
        </div>
    </div>
{% endblock %}