{% extends 'index.html' %}


{% block title %}🪙 2coins{% if title %} | {{ title }}{% else %}{% endif %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 1.3rem;
            justify-items: center;
            align-items: start;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card-grid mb-3">
        {% for object in object_list %}
            <div class="card border-dark" style="max-width: 20rem; min-width: 250px">

                <h3 class="card-header ">{{ object.icon|default:'💳' }} {{ object.name }}</h3>

                <div class="card-body">
                    <h2 class="card-title">{{ object.currency.symbol }} {{ object.balance }} </h2>
                    <h6 class="card-subtitle mb-3 text-muted">{{ object.description|default:'&nbsp;' }}</h6>

                    <div class="d-flex justify-content-end gap-1 position-relative" style="z-index: 2;">
                        <a href="#" class="btn btn-primary flex-grow-1">Add transaction</a>
                        <a href="{% url 'account_update' object.pk %}" class="btn"><i class="bi bi-gear"></i></a>
                    </div>
                </div>

                <a href="{% url 'dashboard' %}" class="stretched-link"></a>
            </div>
        {% endfor %}

        <div class="card border-dark h-100" style="max-width: 20rem; min-width: 250px;">
            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <a href="{% url 'account_add' %}" class="btn btn-primary">
                    Add new account
                </a>
            </div>
        </div>
    </div>
{% endblock %}