{% extends 'users/_base.html' %}

{% block title %}🪙 2coins | Login{% endblock %}

{% block body %}
    {{ block.super }}

    <div id="login-wrapper" class="d-flex justify-content-center align-items-center vh-100">
        <div class="card col-3" style="max-width: 600px; min-width: 400px; margin: 0 auto;">
            <div class="card-body p-4">
                <h1 class="text-center mb-4">🪙 2coins Login</h1>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {% for error in form.non_field_errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">
                                <!-- @formatter:off -->
                                {{ field.label }} {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                                <!-- @formatter:on -->
                            </label>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button class="btn btn-primary w-100 my-2" type="submit">
                        Log in
                    </button>

                    <div>
                        Don’t have an account?
                        <a href="{% url 'register' %}">Create one</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}